	html, body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 12px;
		line-height: 1em;
		color: #ffffff;
		background: black;
	}
	
	#main {
		width: 100%;
		height: 100%;
		
		position: relative;
		overflow: hidden;
	}
	
	#media-container {
		background: transparent;
		margin-right: 10ex;
		display: block;
		height: 100%;
	}
	
	#video {
		width: 100%;
		height: 100%;
		padding: 1px;
		max-height: 100%;
	}
	
	#list-container {
		position: absolute;
		top: 0;
		right: 0px;
		display: none;
		height: 100%;
		width: 100%;
		z-index: 10;
	}
	
	#list {
		margin-right: 10ex;
		box-sizing: border-box;
		height: 100%;
		background: #23282C;
		
	}
	
	.cell {
		width: 50%;
		height: 25%;
		padding: 0.5ex;
		box-sizing: border-box;
		float: left;
	}
	
	.item {
		border: 2px solid #ffffff;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;
		background: rgb(138, 138, 138);
		border-radius: 1ex;
		cursor: pointer;
		position: relative;
	}
	
	.title {
		margin: 0;
		text-align: center;
		font-size: 1em;
		font-weight: bold;
		text-shadow: 1px 1px #000000;
		overflow: hidden;
		text-overflow: ellipsis;
		background: rgba(0,0,0,0.5);
		border-radius: 8px 8px 0px 0px;
		padding: 1.5ex;
		
	}
	
	.desc {
		overflow: hidden;
		opacity: 0.8;
		text-overflow: ellipsis;
		margin: 0;
		padding: 0.5ex 0.25ex;
		text-shadow: 1px 1px #000000;
	}
	
	.info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-radius: 0 0 1ex 1ex;
		background: rgba(0,0,0,0.5);
		display: block;
	}
	
	.date {
		float: left;
	}
	
	.duration {
		float: right;
	}
	
	.date, .duration {
		margin: 0.5ex 1ex;
		font-size: 0.75em;
	}
	
	#grab {
		height: 100%;
		width: 10ex;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
		background: #23282C;
	}
	
	.button, .grab_text {
		text-decoration: none;
		text-align: center;
		display: table;
		width: 100%;
		box-sizing: border-box;
	}
	
	.button3 {
		height: 33.33%;
	}
	
	.button em {
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 1.5ex;
		display: table-cell;
		vertical-align: middle;
		
	}
	
	.button-full {
		height: 100% !important;
	}
	
	#open.button-full #spacer {
		vertical-align: top;
		height: 66.66%;
		display: table-row;
	}
	
	#spacer {
		display: none;
	}
	
	#main.open #list-container {
		width: 100%;
	}
	
	#main.open #play {
		display: none;
	}
	
	#main.playing #play {
		display: none;
	}


.button-full em {
	background-color: #222222 !important;
	background-image: none !important;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	-mox-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 0.5ex auto -webkit-focus-ring-color;
  outline-offset: -0.25ex;
}


.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.2;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn {
	border: 1px solid #bbbbbb;
	-webkit-border-radius: 0.5ex;
	-moz-border-radius: 0.5ex;
	border-radius: 0.5ex;
	
	-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
	text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:active,
.btn.active {
  background-color: #080808 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

}

	
	em {
		color: #697279;
		line-height: 1.5ex;
		font-weight: bold;
		font-style: normal;
		font-family: Helvetica, Arial, sans-serif;
		display: block;
	}
	
	#position {
		position: absolute;
		bottom: 0.5ex;
		border: none;
	}
	
	#open {
		
	}
	
	#prev {
		
	}
	
	#next {
		
	}
	
	#next, #prev {
	}
	
	#play {
		display: none;
		position: absolute;
		width: 10ex;
		height: 6ex;
		text-align: center;
		top: 50%;
		left: 50%;
		margin-left: -10ex;
		margin-top: -3ex;
		z-index: 10;
		
		-webkit-box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.75);
		-moz-box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.75);
		box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.75);
		
	}
	
	.on {
		color: white;
	}
	
	/* Font Awesome - http://fortawesome.github.com/Font-Awesome */
	.icon {
		width: 32px;
		height: 24px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAABgCAYAAAB8InCYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdZJREFUeNrsmoFtAyEMRZOqC9wK1xEuI7DCdYSskI5wK9AR0hHuRqAjtCN0BQpSkqLoMGBMfJVsyRKKfPhFB+bjZG+t3XHaUzAenduImyBuAuKmIM4AceMaQA+ADpExNq5fA2B/BQLwDcR9RsbYuFuu/Za2ITuAAvbtHMSdgLhTEDcDcWoNANq3KjLGxg2yDTcJsABxCyLuI6deSB0QPSDbUPSA1AEBEAAB+NcAnfPzxTv0LL4SIrxzbuyfmctnxXNRJK+CoEqOhqBMjoKgTl4M0SJ5EUSr5NkQKUFiEuo2x7wyOmALUU9Q7MA5nhMPHwggIK0pmlAABEAABIAfIHUWDHeNJ6y9xfoFKQC1g5vOuaaiDYsMRaRtnWkKTahbJC9VxZo6OeZeoCmTY29Gmio5FgCC0I+4G8Yg9KMup2sQGjsHhSj1RWbBPiyqWAAEYPMA/ue1Y1OCRKUKOx2qsmqiSvG9nZ33nABXO3EDePtyPnICXG12PnAChHqg4wRArY8WAEXroxVA9vpoDZBcHylFRCmX/J9aXjkPo4XrNPTf/MX5e81hhG3VK45d8OP8yFUHJq5KiD6mawGqhQoWoOg9UwNoLkVUde5jAQyV8ml5Pa+yXwEGABYjfIwNoJxcAAAAAElFTkSuQmCC);
	}

	.icon.grid { background-position: 0 0; margin-bottom: 2px; }
	.icon.up { background-position: 0 -24px; }
	.icon.down { background-position: 0 -48px; }
	.icon.play { background-position: 0 -72px; margin-bottom: 4px; }
		
	.row1 { height: 100%; }
	.row2 { height: 50%; }
	.row3 { height: 33.33%; }
	.row4 { height: 25%; }
	
	.col1 { width: 100%; }
	.col2 { width: 50%; }
	.col3 { width: 33.33%; }
	.col4 { width: 25%; }